<!DOCTYPE html>
<html lang="en">
  <head>
    <title>SnipSnip</title>
  </head>
  <body>
    <header>
      <% include ./partials/_registration %>
      <% include ./partials/_header %>
    </header>
      <div>
        <p><h4>Ain't nobody got time for full length URLs....</h4></p>
      </div>

      <a href="/urls/new" class="btn btn-lrg btn-primary">Shorten Dat Shizzle</a>

  </body>
</html>