<!DOCTYPE html>
<html lang="en">
  <head>
    <title>SnipSnip</title>
  </head>
  <body>
      <div>
        <p><h4>Ain't no body got time for full length URLs....</h4></p>
      </div>
      <a href="/urls/new" class="btn btn-lrg btn-primary">Shorten Dat Shit</a>

  </body>
</html>
